@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100;1,100&display=swap");

.wrapperHeader {
  height: 120px;
  background-color: #c20d14;
  padding: 1rem 18rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  a {
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
  .searchBarContainer {
    margin: 20px 0px;
    .wrapperLogo {
      display: flex;
      align-items: center;
      width: 150px;
      justify-content: space-between;
      cursor: pointer;
      .logo {
        height: 50px;
        width: 200px;
      }
      .textLogo {
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.2;
      }
    }
    .searchBar {
      width: 500px;
      display: flex;
      align-items: center;
      .inputSearch {
        width: 450px;
      }
      .iconShoppingCart {
        font-size: 30px;
        color: white;
        margin-left: 25px;
      }
    }
  }
  .username {
    color: white;
  }
}

.wrapperContent {
  padding: 9rem 18rem;
}
