.wrapperCoupons {
  background-color: rgb(246, 145, 19);
  height: 31px;
  width: 60px;
  position: relative;
  .textCoupons {
    font-size: 11px;
    color: white;
    font-weight: bold;
  }
  .circle {
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    &.circle1 {
      top: 10px;
      right: 0px;
    }
  }
}

.wrapperCouponsShop {
  background-color: rgba(208, 1, 27, 0.08);
  height: 31px;
  width: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .textCouponsShop {
    font-size: 9px;
    color: #d0011b;
    font-weight: bold;
  }
  .circleShop {
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    &.circle1Shop {
      top: 10px;
      right: 0px;
    }
  }
}

.wrapperTag {
  border: 1px solid #ee4d2d;
  color: #ee4d2d;
  padding: 3px;
  font-size: 10px;
}
