.wrapperRow {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  .buttonAdd {
    height: 45px;
    padding: 0px 15px;
    background: #f05d40;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    .icon {
      margin-right: 10px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}

.wrapperCard {
  margin: 20px 0px;
  .cardIcon {
    height: 40px;
  }

  .cardName {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  .cardNumber {
    font-size: 17px;
  }

  .buttonDelete {
    font-size: 16px;
    color: #333;
    text-decoration: underline;
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  .buttonDefault {
    height: 35px;
    padding: 0px 15px;
    background: #f05d40;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:disabled {
      background-color: rgb(255, 255, 255);
      color: rgb(204, 204, 204);
      cursor: not-allowed;
      border: 1px solid rgba(0, 0, 0, 0.09);
      box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px;
    }
  }
}
