.wrapperInformation {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 15px 10px 15px;

  .titleProduct {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .infoSaleProduct {
    margin-top: 10px;
  }

  .wrapperRate {
    border-right: 1px solid rgba(208, 1, 27, 0.08);
    padding: 5px 20px 5px 0;
    .spanRate {
      font-size: 14px;
      color: #d0011b;
      border-bottom: 1px solid #d0011b;
      margin-right: 8px;
    }
  }

  .wrapperEvalute {
    padding: 5px 20px;
    border-right: 1px solid rgba(208, 1, 27, 0.08);
    .valueEvalute {
      font-size: 1rem;
      border-bottom: 1px solid #222;
      margin-right: 8px;
      color: #222;
    }
    .spanEvalute {
      font-size: 0.875rem;
      color: #767676;
      text-transform: capitalize;
    }
  }

  .spanReport {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    margin-right: 15px;
    cursor: pointer;
  }

  .wrapperPrice {
    padding: 15px 20px;
    background-color: #fafafa;
    .textPriceOld {
      color: #929292;
      font-size: 1rem;
      margin-right: 10px;
    }
    .textPriceNew {
      color: #d0011b;
      font-size: 1.875rem;
      margin-right: 10px;
    }
    .showSale {
      background-color: #d0011b;
      text-transform: uppercase;
      color: white;
      font-weight: 500;
      padding: 2px;
      border-radius: 5px;
      font-size: 12px;
      margin-left: 20px;
    }
  }

  .wrapperFlashSale {
    background: url("../../../asset/image/flash_sale.jpg");
    height: 40px;
    border-radius: 5px;
    position: relative;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    .iconFlashSale {
      position: absolute;
      top: -17px;
      height: 50px;
      width: 50px;
    }
    .textFlashSale {
      color: white;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
}

.wrapperCountDown {
  color: white;
  .textCountdown {
    background-color: #222;
    color: white;
    padding: 5px;
    margin: 0 3px;
    border-radius: 5px;
  }
}

.borderClassImage {
  border: 2px solid #d0011b;
}

.noneBorderClassImage {
  border: 2px solid transparent;
}

.listImage {
  margin-right: 5px;
  cursor: pointer;
}
