.wrapperPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #fff;
  .wrapperForm {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    overflow: hidden;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 10px;
    .iconBack {
      position: absolute;
      top: 50px;
      left: 20px;
      font-size: 25px;
      color: #ee4d2d;
    }

    .title {
      font-size: 1.25rem;
      color: #222;
      margin-bottom: 30px;
    }

    .input {
      width: 350px;
      height: 40px;
    }

    .button {
      height: 40px;
      width: 350px;
      text-transform: uppercase;
      background-color: #ee4d2d;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
      color: #fff;
    }

    .auth_code {
      margin-bottom: 25px;
    }
  }
}
