.wrapperCountDown {
  color: white;
  .textCountdown {
    background-color: #222;
    color: white;
    padding: 5px;
    margin: 0 3px;
    border-radius: 5px;
  }
}

.wrapperFlashSale {
  background: url("../../asset/image/flash_sale.jpg");
  height: 40px;
  border-radius: 5px;
  position: relative;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  .iconFlashSale {
    position: absolute;
    top: -17px;
    height: 50px;
    width: 50px;
  }
  .textFlashSale {
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
  }
}
