.wrapperInfoShop {
  background-color: #fff;
  padding: 2rem;
  margin-top: 15px;

  .colAvatar {
    position: relative;
    margin-right: 15px;
    .logoMall {
      position: absolute;
      height: 18px;
      bottom: -7px;
      left: 5px;
    }
  }

  .colAction {
    padding-right: 1.5625rem;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    .textActive {
      font-size: 13px;
      color: #0000008a;
    }

    .wrapperButton {
      margin-top: 10px;
      .buttonChat {
        height: 35px;
        border-radius: 2px;
        padding: 10px 15px;
        font-size: 15px;
      }

      .buttonViewShop {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.09);
        height: 35px;
        padding: 10px;
        font-size: 15px;
        color: #555;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }

  .colDescription {
    margin-left: 1.75rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .wrapperDescription {
    }
    .label {
      color: rgba(0, 0, 0, 0.4);
      text-transform: capitalize;
      margin-right: 0.75rem;
    }

    .value {
      color: #d0011b;
    }
  }
}
